.notifications-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../../assets/login.jpg');
}

.notifications-container {
    margin-top: 50px;
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex {
    display: flex;
}

.error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
}


.error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
}

.error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media(max-width: 350px) {
    .notifications-container {
        width: 90%;
    }
}