@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Global variables */

$light : #fff;
$black : #000;
$light-blue : #1e88e5;
$blue-gradient-to : #42a5f5;
